body {
  font-family: sans-serif;

}

.title {
  text-align: center;
  margin: 24px;
}

h2 {
  font-size: 24px;
}

.data-input {
  margin: 48px 0;
}

.data-comparison, .data-save {
  display: none;
  margin-bottom: 48px;
}

.data-images {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
  margin: 24px 0;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}
